body {
  background-color: #DFDAD7;
}

.heading {
  position: absolute;
  margin-top: 307px;
  font-family: sergio Trendy;
  left: 327px;

}

.whenheading {
  position: absolute;
  margin-top: 307px;
  font-family: sergio Trendy;
  font-size: 128px;
  line-height: 137px;
  left: 148px;

}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  box-sizing: border-box;
  position: absolute;
  top: 831px;
  width: 1269px;
  height: 343px;
  left: 91px;
  background: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 20px;
}

.container {
  font-family: 'Josefin-Sans', sans-serif;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.leftcard {
  box-sizing: border-box;

  position: absolute;
  width: 602px;
  height: 300px;
  top: 1214px;
  left: 91px;

  background: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 20px;
}

.leftcard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.rightcard {
  box-sizing: border-box;

  position: absolute;
  width: 638px;
  height: 300px;
  left: 722px;
  top: 1214px;


  background: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 20px;
  font-family: 'Josefin-Sans' sans-serif;
}

.rightcard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.workshop {
  box-sizing: border-box;

  position: absolute;
  width: 1269px;
  height: 269px;
  left: 86px;
  top: 831px;

  background: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 20px;
}

.workshop:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.happyhours {
  box-sizing: border-box;

  position: absolute;
  width: 1269px;
  height: 269px;
  left: 86px;
  top: 1140px;

  background: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 20px;
}

.happyhours:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


img {
  border-radius: 5px 5px 0 0;
}

.container {
  /* padding: 2px 50px; */
  padding-top: -100px;
  padding-left: 48px;
  font-size: 20px;
}

.heading {

  font-family: 'Sergio Trendy';
  font-style: normal;
  font-weight: 400;
  font-size: 145.845px;
  line-height: 156px;

  color: #180403;

}

.nav {
  font-family: 'Josefin -Sans', sans -serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  margin-top: -100px;

}

.f1 {
  position: absolute;
  top: 350px;
  left: 600px;
}

.f2 {
  position: absolute;
  top: 350px;
  left: 700px;
}

.f3 {
  position: absolute;
  top: 350px;
  left: 800px;
}

.f1:link {
  text-decoration: none;
}

.f1:visited {
  color: #0e0d0d;
}

.f1:hover {
  text-decoration: underline;
  color: #BF4E40;
}

.f2:hover {
  color: #BF4E40;
}

.f2:hover {
  text-decoration: underline;
}

.f3:hover {
  color: #BF4E40;
}

.f3:hover {
  text-decoration: underline;
}
.f3:active{
  color: #BF4E40;
}
.lala:link {
  color: #000000;
}

.lala:link {
  text-decoration: none;
}

#finally:link {
  color: #000000;
}

.lala:hover {
  color: black;
}

.lala:focus {
  color: #000;
}

.lala:visited {
  color: #000;
}

.lala {
  position: absolute;
  top: 600px;
}

.TheGreyOne {
  height: 50px;
  width: 200px;
  border-radius: 50px;
  font-size: 20px;
}

.TheRedOne {
  height: 50px;
  width: 200px;
  border-radius: 50px;
  font-size: 20px;
  background-color: #BF4E40;
  color: #FFFFFF;
}

#please {
  position: inherit;
  margin-top: 1400px;
}

.TheRed {
  position: absolute;
  height: 50px;
  width: 100px;
  margin-left: 370px;
  bottom: 30px;
  border-radius: 50px;
  font-size: 20px;
  background-color: #BF4E40;
  color: #FFFFFF;
}

.howMany {
  height: 50px;
  width: 100px;
  margin-left: 400px;

  border-radius: 50px;
  font-size: 20px;
  background-color: #BF4E40;
  color: #FFFFFF;
}

.sbs {
  font-family: 'Josefin -Sans', sans-serif;
  position: absolute;
  bottom: -10;
  left: 10px;
}

.ss {
  font-family: 'Josefin -Sans', sans-serif;
  position: absolute;
  bottom: -10;
  left: 1250px;
}

.sideBYside {
  font-family: 'Josefin -Sans', sans-serif;
  position: absolute;
  bottom: -10;
  left: 1470px;
}
.f3:link{
text-decoration: none;
color: #000;
}
.f3:hover{
  color: #BF4E40;
  text-decoration: underline;
}
.f3:active{
  color: #BF4E40;
}
#when{
  position: absolute;
  top: 240px;
  left: 211px;
}
#tape3{
  position: absolute;
  top: 180px;
  left: 140px;
}
#tape4{
  position: absolute;
  top: 300px;
  left: 1280px;
}
/* .sideBYside{
  font-family: 'Josefin -Sans', sans-serif;
  position: absolute;
  bottom: -470px;
  right: 10px;
}
.ss{
  font-family: 'Josefin -Sans', sans-serif;
  position: absolute;
  bottom: -470px;
  right: 46px;
} */